* {
  margin: 0;
  padding: 0;
}

/* UPPERMOST HEADER */
.topbar {

  background-color: black;

}

.nav-bar p, .nav-link a, .fs a {
  color: white;
  font-size: 10px;
}

.nav-link {

  list-style: none;

}

.nav-link a, .fs a {
  text-decoration: none;
  margin: 0px 2px;
  padding: 0px;
}


/* main header */
.navbar-nav a {
  text-decoration: none;

  color: black;

}

.logo {
  width: 50px;
}

.logo-name {
  width: 120px;
}
/* ----showcase---- */

 .overlay-text {
  position: absolute;
  top: 75%;
  left: 23%;
}


/*----------queries---------- */
/* medium */
@media(min-width:768px) {


  .shopcategory {
    background-color: white !important;
  }

  .search-input {
    max-width: 30%;
  }
}

/* large */
@media (min-width:992px) {

  .search-input {
    max-width: 30%;
  }
}

/* 
<div class="nav-link   collapse navbar-collapse " id="navmenu">

<a href="#">About</a>


<a href="#">Contact Us</a>


<a href="#">Help Center</a>


<a href="#">Call Us 123-456-789</a>

</div> */