*{
  margin: 0;
  padding: 0;
}

.header{

}
/* UPPERMOST HEADER */
.nav-bar{

  background-color: black;
  
}
.nav-bar p, .nav-link a, .fs a{
  color: white;
  font-size: 10px;
}
.nav-link{

  list-style: none;
  
}
.nav-link a, .fs a{
  text-decoration: none;
  margin: 0px 2px;
  padding: 0px;
}


/* main header */
.navbar-nav a{
  text-decoration: none;
  margin:0px 3px;
  color: black;

}



/*----------queries---------- */
/* medium */
@media(min-width:768px){


  .search-input{
    max-width:30%;
  }
}
/* large */
@media (min-width:992px){

  .search-input{
    max-width:30%;
  }
}